@{
    ViewBag.Title = "Contact";
}

<div class="container body-content">

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Kyiv Boryspil International Airport<br />
        Boryspil', Kyivs'ka oblast, Ukraine, 08307<br />
        <abbr title="Phone">Phone Number:</abbr>
        380 54 555 911
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:UIAsupport@example.com">UIAsupport@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:UIAmarketing@example.com">UIAmarketing@example.com</a>
    </address>
</div>